@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ferry Lines</title>
    <link rel="shortcut icon" href="~/Content/images/icon.ico">
    <link href="~/RailSystemStyle.css" rel="stylesheet" />
    <script src="~/Content/Clock.js"></script>
</head>
<body onload="startTime()">
    <div>


        <div id="navBar">
            <ul>
                <li><a href="http://localhost:50276/HomePage/HomePage">Home</a></li>
                <li><a href="http://localhost:50276/RailSystem/RailSystem">Rail Systems</a></li>
                <li><a href="http://localhost:50276/MetrobusLine/MetrobusLine">Metrobus Lines</a></li>
                <li><a href="http://localhost:50276/BusLine/BusLine">Bus Lines</a></li>
                <li><a href="http://localhost:50276/FerryLine/FerryLine">Ferry Lines</a></li>
                <li><a href="http://localhost:50276/Contact/Contact">Contact</a></li>
            </ul>
        </div>

        <div id="navBarRight">
            <ul>
                <li id="clock"></li>
            </ul>
        </div>

        <div id="leftArea">
            <div id="navBar1">
                <ul>
                    <li><a href="http://localhost:50276/FerryLine/ShowStationForFerryLine?line=F1">F1</a></li>
                    <li><a href="http://localhost:50276/FerryLine/ShowStationForFerryLine?line=F2">F2</a></li>
                    <li><a href="http://localhost:50276/FerryLine/ShowStationForFerryLine?line=F3">F3</a></li>
                    <li><a href="http://localhost:50276/FerryLine/ShowStationForFerryLine?line=F4">F4</a></li>
                    <li><a href="http://localhost:50276/FerryLine/ShowStationForFerryLine?line=F5">F5</a></li>
                    <li><a href="http://localhost:50276/FerryLine/ShowStationForFerryLine?line=F6">F6</a></li>
                    <li><a href="http://localhost:50276/FerryLine/ShowStationForFerryLine?line=F7">F7</a></li>
                    <li><a href="http://localhost:50276/FerryLine/ShowStationForFerryLine?line=F8">F8</a></li>
                    <li><a href="http://localhost:50276/FerryLine/ShowStationForFerryLine?line=F9">F9</a></li>
                    <li><a href="http://localhost:50276/FerryLine/ShowStationForFerryLine?line=F10">F10</a></li>
                    <li><a href="http://localhost:50276/FerryLine/ShowStationForFerryLine?line=F11">F11</a></li>
                    <li><img src="~/Content/images/SehirHatlarıLogo.png" width="50%" style="padding:15px" /></li>
                </ul>
            </div>
        </div>
        <div id="middleArea">
            <img src="~/Content/images/Ferry.jpg" width="100%" />
        </div>


        <div id="rightArea">
            <br />
            <p>Show station info for line:</p>
            @using (Html.BeginForm("ShowStationForFerryLine", "FerryLine", FormMethod.Get))
            {
                @Html.TextBox("line")
                <input type="submit" value="Search" />
            }
            <br />
            <br />
            <br />
            <br />
            <p>Show time info for line:</p>
            @using (Html.BeginForm("ShowTimeForFerryLine", "FerryLine", FormMethod.Get))
            {
                @Html.TextBox("line")
                <input type="submit" value="Search" />
            }
            <br />
            <br />
            <br />
            <br />
            <p>Show line info for station:</p>
            @using (Html.BeginForm("ShowFerryLineForStation", "FerryLine", FormMethod.Get))
            {
                @Html.TextBox("station")
                <input type="submit" value="Search" />
            }
            <br />
            <br />
            <br />
            <br />
            <img src="~/Content/images/BeyazMasaLogo.png" width="50%" />
        </div>

        <div id="footerLeft">
            <ul>
                <li><a href="https://www.iett.istanbul/">IETT</a></li>
                <li><a href="https://www.metro.istanbul/">Metro İstanbul</a></li>
                <li><a href="https://www.sehirhatlari.istanbul/">Şehir Hatları</a></li>
                <li><a href="https://beyazmasa.ibb.istanbul/application/beyazmasa">Beyaz Masa</a></li>
            </ul>
        </div>

        <div id="footerMiddle">
            <ul>
                <li><a href="http://localhost:50276/HomePage/HomePage">Home</a></li>
                <li><a href="http://localhost:50276/Contact/Contact">Contact</a></li>
                <li><a href="http://localhost:50276/Contact/AboutUs">About Us</a></li>
            </ul>
        </div>

        <div id="footerRight">
            <ul>
                <li><a href="https://tr-tr.facebook.com/"> <img src="~/Content/images/facebook.png" width="15px" class="left" />Facebook</a></li>
                <li><a href="https://twitter.com/login?lang=tr"><img src="~/Content/images/twitter.png" width="15px" class="left" />Twitter</a></li>
            </ul>
        </div>

    </div>
</body>
</html>
